*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Open Sans Variable', sans-serif;
}

header{
    padding: 1rem;
    background-color: rgba(244, 241, 241, 0.914);
    border: 1px solid rgba(138, 136, 136, 0.736);
}

main{
    background-color: aliceblue;
    padding: 2rem;

    .card{
        background-color: rgba(244, 241, 241, 0.914);
        border: 1px solid rgba(138, 136, 136, 0.736);
        padding: 1rem;
        margin: 1rem 0rem;
        border-radius: 0.5rem;
        
        .card-body{
            padding: 0.5rem;
        }
    }

    .btn{
        font-size: 1.2rem;
        background-color: rgb(1, 94, 217); 
        color: white;
        border: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
    }
    
    .btn-warning{
        font-size: 1.2rem;
        background-color: rgb(245, 197, 7); 
        color: black;
        border: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
    }
    
    .button-flex{
        display: flex;
        justify-content: start;
        gap: 1rem;
        
    }

    .contenitore{
        max-width: 900px;
        margin: auto;
    }
}
